.benefits {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits__list {
    display: flex;
    justify-content:space-between; 
}
.benefits__conteiner{
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    border-radius: 4px;

    text-align: center;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.benefits__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color; 

}
.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.benefits__item {
    margin-right: 30px;
    width:270px;

    display: block;
}

.benefits__item:last-child {
margin-right: 0;
}
